<div class="header-wrapper">
	<h1 class="header">Alva Nordquist</h1>
	{{> nav}}
</div>
<!--
<div class="header-text-container">
	<h1 class="header-text">ALVA NORDQUIST</h1>
	<h3 class="header-text sub-header-text">PHOTOGRAPHER</h3>
</div>
<a href="#portfolio" class="portfolio-link">PORT</a>
<div class="header-background">
</div> -->
