<div class="header-wrapper">
	<div class="header-text-container">
		<h1 class="header-text">ALVA NORDQUIST</h1>
		<h3 class="header-text">PHOTOGRAPHER</h3>
		<a href="#portfolio" class="portfolio-link">PORT</a>
	</div>
	<div class="header-background">
	</div>
</div>
