<div class="portfolio-wrapper">
    <h1 class="header-text portfolio-header">PORTFOLIO</h1>
    <a href="#portfolio" class="portfolio-link">PORT</a>
    <div class="image-container">
    </div>
</div>
