<div class="portfolio-wrapper">
    <h1 class="header-text">PORTFOLIO</h1>
    <a href="#portfolio" class="portfolio-link">PORT</a>
    <div class="image-container">
        <!-- {{#each images}}
            <div class="image" style="background-image: url({{this}})"></div>
        {{/each}} -->
    </div>
</div>
